server:
  servlet:
    context-path: /pufferfishscheduler
  port: 8080

spring:
  main:
    allow-bean-definition-overriding: true # 开启循环依赖
  application:
    name: pufferfishscheduler
  servlet:
    multipart: # 限制上传的文件最大值
      max-request-size: 512MB
      max-file-size: 512MB
  mail:
    host: smtp.qq.com
    username: 203373485@qq.com # 发件人
    password: fsfvylegjvaacaii # 授权码
    port: 587
    default-encoding: UTF-8 # 字符编码
    properties: # 其他参数
      mail:
        smtp:
          ssl: # 配置SSL 加密工厂
            enable: false
            required: false
        debug: true  # 开启debug模式，这样邮件发送过程的日志会在控制台打印出来，方便排查错误
  # 数据源
  datasource:
    # mysql
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.zaxxer.hikari.HikariDataSource
    url: jdbc:mysql://81.69.250.183:3306/pufferfishscheduler?useSSL=true&useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
    username: root
    password: Etl2025
    # HikariCP连接池 性能 > Druid，专为高性能优化，号称"零开销"连接池
    hikari:
      pool-name: mysql-hikari
      connection-timeout: 30000           # 获取连接的超时时间（毫秒）
      validation-timeout: 5000            # 控制将测试连接的活动性的最长时间
      idle-timeout: 300000                # 空闲连接被回收前的最大空闲时间（毫秒），应小于数据库的wait_timeout参数
      max-lifetime: 1800000               # 连接的最大存活时间（毫秒），应小于数据库的interactive_timeout参数
      maximum-pool-size: 100              # 连接池中允许的最大连接数，通常设置为 (CPU核心数 * 2) + 磁盘数 的倍数
      minimum-idle: 5                     # 连接池中保持的最小空闲连接数
      leak-detection-threshold: 60000     # 检测连接泄露的阈值（毫秒）
      connection-test-query: SELECT 1     # MySQL连接测试查询

  # 配置redis
  redis:
    host: 81.69.250.183
    port: 6379
    password: Etl2025
    database: 0 # 数据库默认索引为0
    lettuce:
      pool:
        max-active: 50        # 增大连接池
        max-idle: 20          # 最大空闲连接
        min-idle: 5           # 最小空闲连接
        max-wait: 3000ms      # 获取连接最大等待时间
      shutdown-timeout: 200ms # 关闭超时时间
    timeout: 30000ms          # 命令超时时间(30秒)

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher  # 兼容Swagger的路径匹配策略

# mybatis-plus配置
mybatis-plus:
  configuration:
    default-executor-type: REUSE  # 使用REUSE执行器
    cache-enabled: false          # 如果不是必须，关闭二级缓存
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl #mybatis-plus日志实现类
  global-config:
    db-config:
      id-type: auto #主键自增
      table-prefix: #数据表前缀
      update-strategy: not_empty #配置mybatis-plus
      logic-delete-field: deleted # 逻辑删除字段
      logic-delete-value: 1
      logic-not-delete-value: 0

# log日志
logging:
  level:
    web: debug #扫描web
    com.pufferfishscheduler.common: debug
    com.pufferfishscheduler.master: debug
    com.zaxxer.hikari: debug
    org.apache.dubbo.spring.extension.SpringExtensionFactory: WARN
  pattern:
    console: "%d %clr(%5p) ---- [%t] %clr(%-40.40c){cyan} : %m %n"

# JWT配置
jwt:
  token-secret: pufferfishscheduler1q2w3e4R # 密钥
  expiration-time: 3600000 # 过期时间 1小时 3600000 => 1 * 60 * 60 * 1000
  issuer: etl-ds # 令牌签发者

# 安全配置
security:
  # AES密钥
  aes:
    key: 1q2w3e4r5t6ymayc
  # RSA公钥
  rsa:
    public-key: MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAgtf8E/OpA+UFff6tU/Z/cktuYdFFQ+835tREB4D5XN4Q/9BYF3cbbEcFBuTke4yotWPKAZYgFtI9u9+pwPJSsPkvyPXTSa72t4XSQ2zL8rppMQFSoeLMAoUI7uk91XzdasM6HPlp0WYgdBRui94Qcb66McAT5dYdedHYsJIKEn1WHFulK29aRL7x8oLa1BPAJqG8PRSIelGLzoQuhF1ieTblb91+GC985YXx+xlRBrp1xJTiUl1FW+bp8lCmx5CBEoRbyyxMqsDdDnrvYY7LmP/K6aiaKfwY9K8912JbCXeX1/m0guYWXKQLzpKNbdWB1KHf5TyB3vD9/xTEjluxKwIDAQAB
    private-key: MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCC1/wT86kD5QV9/q1T9n9yS25h0UVD7zfm1EQHgPlc3hD/0FgXdxtsRwUG5OR7jKi1Y8oBliAW0j2736nA8lKw+S/I9dNJrva3hdJDbMvyumkxAVKh4swChQju6T3VfN1qwzoc+WnRZiB0FG6L3hBxvroxwBPl1h150diwkgoSfVYcW6Urb1pEvvHygtrUE8Amobw9FIh6UYvOhC6EXWJ5NuVv3X4YL3zlhfH7GVEGunXElOJSXUVb5unyUKbHkIEShFvLLEyqwN0Oeu9hjsuY/8rpqJop/Bj0rz3XYlsJd5fX+bSC5hZcpAvOko1t1YHUod/lPIHe8P3/FMSOW7ErAgMBAAECggEASKHU0M6FmB/d+J8TYHSJMs0krTAaHygABCb4zKGPyzmKfjcNb5kyo9yYsccF/n+Kd4a5cEAB+CklE9GIzg62UH9DQ28Spuh1FFM48SzH2ioYkpeFY1Aep5dp6hWXuZbi4o0VCVh6oT7r7QQaiZHv1vRlL5DMet1s517RxtKKvNADXcpWFqPvAQtCA7s/LUxMyGi3XBujrnxPLnKI8BFGmjUbeDPoffkwbRHWCXxVp6cxu4a67wQH440XCJgogD45Aiv+CykqqoZMovFr3bJJbs2X3L0OuBcexp/6/PlnFj3ZnXOE1o1hmO4hEAvgRBVMb292iARAKvzxAOd/pO13wQKBgQC84pzpkjrXLzLp1nAU0eFtqnBmKhYYR1zWHDLsarTFCteraPVqPJaQVIGUnIUAfxYd3HaYX3nv8FFiCsDb6Uv3DQB0hnjeDABI3NA4qyKcWapFiIilg86mMokzDO0n2dMK9Ldv9AlEOTD40Se6GXgE/wvSxSOgkJCPrQy0NUK5CQKBgQCxVcvEEF3ghsSO4t57wIhTaLRHfPKPw/Fgazu61X+V5CutVl7wWcxVFvuBLXlFYjM1odv8DYXOy2QHmN4P/slxKifxzSosQDoKYDx4EBW42h+EAwzKiFtHtXaBB/T9CHu1pmV2yVZNvsvr2Y0M61YjNUJ3zrQjtgkW/pI1BWEpkwKBgQCXOjx1SW2w0YpK7DRKhwuc2QQq1/FeuOwcRPGElZ5r0FWCWIN87kuB/RbOXE6kahvUBqoxLuga8ebGv2NP7sayYweFRBDLfwJPU/OmG2aXlbac+0akdhZivD1a0TOjX2P39pxTlyhAJiYOYK8U8cVFAsp9kvcGXBhR4DQ2qBnmuQKBgEneJiHGe4RCPvAR+oDsAx1TWP0KQ/O0t//kyx2ZPysNv0/V0Xgmv6GWEC+P5JsNO62UfZDxhRJN0J4FhEJ/bCOyXq8vOejy2/pkeeu9L38vhL81kgdvYy5snS9ERD1+YiGZbVxco5GA72qP1VxTTy8dSVGkjY7ujbzBT9+8HOv3AoGAfuqm0Czn+2+VB6wSrnwxmZCYhB5KIhLz2/m+QMcT4YfOdBchXGiWY5D2HIJRZMB5AyXi5jILl8KjVhanhK+qX4kR3KqTbLAuZHfuRB+ZKeo8ySA54YwjPSZsWTqmAf5+l1yk9+R+uaTrBa+14FuN6+OiZkXOX7pSB6XO0fwklaY=
  # 拦截器
  interceptor:
    # 开启拦截
    enabled: true
    # 拦截路径
    exclude-paths:
      - /auth/login.do
      - /auth/getAuth.do
      - /auth/getUserInfo.do
      - /swagger-ui/**
      - /swagger-ui.html
      - /v3/api-docs/**
      - /v3/api-docs.yaml
      - /swagger-resources/**
      - /swagger-resources
      - /webjars/**
      - /doc.html

# 资源根路径
ftp:
  path: /data/ftp


