<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pufferfishscheduler.dao.mapper.DbDatabaseMapper">

    <resultMap type="com.pufferfishscheduler.dao.entity.DbDatabase" id="DbDatabaseMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="groupId" column="group_id" jdbcType="INTEGER"/>
        <result property="label" column="label" jdbcType="VARCHAR"/>
        <result property="category" column="category" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="dbHost" column="db_host" jdbcType="VARCHAR"/>
        <result property="dbPort" column="db_port" jdbcType="VARCHAR"/>
        <result property="dbName" column="db_name" jdbcType="VARCHAR"/>
        <result property="dbSchema" column="db_schema" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="isStatsByDay" column="is_stats_by_day" jdbcType="INTEGER"/>
        <result property="lastSyncTime" column="last_sync_time" jdbcType="TIMESTAMP"/>
        <result property="dataSyncCycle" column="data_sync_cycle" jdbcType="INTEGER"/>
        <result property="deleted" column="deleted" jdbcType="INTEGER"/>
        <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="updatedBy" column="updated_by" jdbcType="VARCHAR"/>
        <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
        <result property="properties" column="properties" jdbcType="VARCHAR"/>
        <result property="extConfig" column="ext_config" jdbcType="VARCHAR"/>
    </resultMap>

</mapper>

