<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pufferfishscheduler.dao.mapper.RuleMapper">
    <resultMap id="BaseResultMap" type="com.pufferfishscheduler.dao.entity.Rule">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="group_id" jdbcType="INTEGER" property="groupId"/>
        <result column="rule_code" jdbcType="VARCHAR" property="ruleCode"/>
        <result column="rule_name" jdbcType="VARCHAR" property="ruleName"/>
        <result column="rule_description" jdbcType="VARCHAR" property="ruleDescription"/>
        <result column="rule_processor_id" jdbcType="INTEGER" property="ruleProcessorId"/>
        <result column="status" jdbcType="BOOLEAN" property="status"/>
        <result column="config" jdbcType="VARCHAR" property="config"/>
        <result column="deleted" jdbcType="BOOLEAN" property="deleted"/>
        <result column="created_by" jdbcType="VARCHAR" property="createdBy"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
        <result column="rule_type" jdbcType="INTEGER" property="ruleType"/>
        <result column="first_group_Id" jdbcType="INTEGER" property="firstGroupId"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , group_id, rule_code, rule_name, rule_description, rule_processor_id, `status`,
    config, deleted, created_by, created_time, updated_by, updated_time, 
    rule_type, first_group_Id
    </sql>

    <!-- 获取规则信息(已发布) -->
    <select id="getRuleInformation" resultType="com.pufferfishscheduler.domain.vo.collect.RuleInformationVo">
        select r.id,r.rule_name,r.config,p.id as processor_id,p.processor_class from rule as r
        join rule_processor as p
        on r.rule_processor_id = p.id
        where r.deleted = false
        and r.id in
        <foreach collection="ruleIds" item="item" open="(" close=")" separator="," index="index">
            #{item}
        </foreach>
        and r.status = true
        order by updated_time desc
    </select>

</mapper>